@media screen and (max-width:768px){
    .row-content{
        width: 90%;
    }
}

@media screen and (max-width:414px){
    .top i{
        left: 10%;
    }
    section{
        padding:0px; 
    }
    .con-img{
        width: 90%;
    }
}
